<div fxLayoutAlign="center center">
  <div class="about">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex.xl="50" fxFlex.xs="100" fxFlex.md="50" fxFlex.sm="100" fxFlex.lg='50' fxFlex.xl="33.333">
        <img src="../../../assets/bg_1.png" class="abt-img" />
      </div>
      <div fxFlex="50" fxFlex.sm="90" fxFlex.xs="90">
        <h1 class="with-out-shadow">About Me</h1>
        <h1 class="shadow">About</h1>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </p>
        <div fxLayout="row wrap">
          <div class="fields">
            <h5>Name:</h5>
            <h5>Date of birth:</h5>
            <h5>Address:</h5>
            <h5>Zip code:</h5>
            <h5>Email:</h5>
            <h5>phone:</h5>
          </div>
          <div class="values">
            <p>Clark Thompson</p>
            <p>January 01, 1987</p>
            <p>San Francisco CA 97987 USA</p>
            <p>1000</p>
            <p>clarkthomp@gmail.com</p>
            <p>+1-2234-5678-9-0</p>
          </div>
        </div>
        <button>DOWNLOAD CV</button>
      </div>
    </div>
  </div>
</div>
