<div class="foot">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div>
      <h2>About</h2>
      <p>Far far away, behind the word</p>
      <p>mountains, far from the</p>
      <p>countries Vokalia and</p>
      <p>Consonantia, there live the</p>
      <p>blind texts.</p>
    </div>
    <div>
      <h2>Links</h2>
      <li>Home</li>
      <li>About</li>
      <li>Services</li>
      <li>Projects</li>
      <li>Contact</li>
    </div>
    <div>
      <h2>Services</h2>
      <li>Web Design</li>
      <li>Web Development</li>
      <li>Business Strategy</li>
      <li>Data Analysis</li>
      <li>Graphic Design</li>
    </div>
    <div>
      <h2>Have a Questions?</h2>
      <li>203 Fake St. Mountain View, San Francisco, California, USA</li>
      <li>+2 392 3929 210</li>
      <li>info@yourdomain.com</li>
    </div>
  </div>
</div>
