<div class="navbar">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="topnav">
      <h2>CLARK</h2>
    </div>
    <ul class="topnav">
      <li><a routerLink="#news">About</a></li>
      <li><a href="#contact">Resume</a></li>
      <li><a href="#contact">Services</a></li>
      <li><a href="#contact">Skills</a></li>
      <li><a href="#contact">Projects</a></li>
      <li><a href="#contact">My Blog</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
