<div class="project">
  <h1>Our Project</h1>
  <p>
    Far far away, behind the word mountains, far from the countries Vokalia and
    Consonantia
  </p>
  <div fxLayout="column" fxLayoutAlign="start center">
    <div>
      <img src="../../../assets/project-4.jpg" width="420" height="320" />
      <img src="../../../assets/project-5.jpg " width="800" height="320" />
    </div>
    <div>
      <img src="../../../assets/project-1.jpg" width="800" height="320" />
      <img src="../../../assets/project-2.jpg" width="420" height="320" />
    </div>
    <div>
      <img src="../../../assets/project-6.jpg" width="800" height="320" />
      <img src="../../../assets/project-3.jpg" width="420" height="320" />
    </div>
  </div>
</div>
