<div class="service">
  <div class="hesder">
    <h1>Services</h1>
    <p>
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="card">
      <mat-card>
        <h4>WEB DESIGN</h4>
      </mat-card>
      <mat-card>
        <h4>PHOTOGRAPHY</h4>
      </mat-card>
      <mat-card>
        <h4>WEB DEVELOPER</h4>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <h4>WEB DESIGN</h4>
      </mat-card>
      <mat-card>
        <h4>PHOTOGRAPHY</h4>
      </mat-card>
      <mat-card>
        <h4>WEB DEVELOPER</h4>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <h4>APP DEVELOPER</h4>
      </mat-card>
      <mat-card>
        <h4>BRANDING</h4>
      </mat-card>
      <mat-card>
        <h4>PRODUCT STRATEGY</h4>
      </mat-card>
    </div>
  </div>
</div>
