<div class="resume">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h1>Resume</h1>
    <p>
      A small river named Duden flows by their place and supplies it with the
      necessary regelialia. It is a paradisematic country, in which roasted
      parts of sentences fly into your mouth.
    </p>
  </div>
  <div class="card">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card>
        <h2>2014-2015</h2>
        <h3>Master Degree of Design</h3>
        <P>CAMBRIDGE UNIVERSITY</P>
        <P
          >A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth.</P
        >
      </mat-card>
      <mat-card>
        <h2>2014-2015</h2>
        <h3>Art & Creative Director</h3>
        <P>CAMBRIDGE UNIVERSITY</P>
        <P
          >A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth.</P
        >
      </mat-card>
    </div>
  </div>
  <div class="card">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card>
        <h2>2014-2015</h2>
        <h3>Master Degree of Design</h3>
        <P>CAMBRIDGE UNIVERSITY</P>
        <P
          >A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth.</P
        >
      </mat-card>
      <mat-card>
        <h2>2014-2015</h2>
        <h3>Art & Creative Director</h3>
        <P>CAMBRIDGE UNIVERSITY</P>
        <P
          >A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth.</P
        >
      </mat-card>
    </div>
  </div>
  <div class="card">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card>
        <h2>2014-2015</h2>
        <h3>Master Degree of Design</h3>
        <P>CAMBRIDGE UNIVERSITY</P>
        <P
          >A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth.</P
        >
      </mat-card>
      <mat-card>
        <h2>2014-2015</h2>
        <h3>Art & Creative Director</h3>
        <P>CAMBRIDGE UNIVERSITY</P>
        <P
          >A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth.</P
        >
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button>DOWNLOAD CV</button>
  </div>
</div>
